.slider-slide {
  margin-top: 40px !important;
}

.slider-control-bottomcenter {
  position: absolute;
  top: 0 !important;
}

.slider-control-centerleft {
  background-color: lime;
  font-size: large;
}
